{% extends 'Base.html' %}

{% block body%}
	<div style="text-align: center">
    		<h1 style="color: red">Cadastro de Clientes e Embarcadores!</h1>
	<hr>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col">
		    		<form method="POST" action="" class="border m-3 p-5">
				{{ form_cliente.csrf_token}}
				
				<legend style="color: red">Cliente</legend>
				<fieldset>
					<div class="form-group">
						{{ form_cliente.nome_cliente.label(class="form-control-label") }}

						{% if form_cliente.nome_cliente.errors %}
							{{ form_cliente.nome_embarcador(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_cliente.nome_cliente.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_cliente.nome_cliente(class="form-control") }}
						{% endif %}
					</div>
                    
					<div class="form-group">
						{{ form_cliente.cnpj_cliente.label(class="form-control-label") }}
						
						{% if form_cliente.cnpj_cliente.errors %}
							{{ form_cliente.cnpj_cliente(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_cliente.cnpj_cliente.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_cliente.cnpj_cliente(class="form-control") }}
						{% endif %}
                             	 		
					</div>
                    
                    <div class="form-group">
						{{ form_cliente.estado_cliente.label(class="form-control-label") }}
						
						{% if form_cliente.estado_cliente.errors %}
							{{ form_cliente.estado_cliente(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_cliente.estado_cliente.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_cliente.estado_cliente(class="form-control") }}
						{% endif %}
                    </div>

                    
                    <div class="form-group">
						{{ form_cliente.cidade_cliente.label(class="form-control-label") }}
						
						{% if form_cliente.cidade_cliente.errors %}
							{{ form_cliente.cidade_cliente(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_cliente.cidade_cliente.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_cliente.cidade_cliente(class="form-control") }}
						{% endif %}
                    </div>
                    
                    <div class="form-group">
						{{ form_cliente.operacao_cliente.label(class="form-control-label") }}
						
						{% if form_cliente.operacao_cliente.errors %}
							{{ form_cliente.operacao_cliente(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_cliente.operacao_cliente.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_cliente.operacao_cliente(class="form-control") }}
						{% endif %}
                    </div>
                    
				</fieldset>
					{{ form_cliente.botao_submit_cliente(class="btn btn-danger mt-3") }}
				</form>
			</div>

            <div class="col">
		    		<form method="POST" action="" class="border m-3 p-5">
				{{ form_embarcador.csrf_token}}
				
				<legend style="color: red">Embarcador</legend>
				<fieldset>
					<div class="form-group">
						{{ form_embarcador.nome_embarcador.label(class="form-control-label") }}

						{% if form_embarcador.nome_embarcador.errors %}
							{{ form_embarcador.nome_embarcador(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_embarcador.nome_embarcador.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_embarcador.nome_embarcador(class="form-control") }}
						{% endif %}
					</div>
                    
					<div class="form-group">
						{{ form_embarcador.cnpj_embarcador.label(class="form-control-label") }}
						
						{% if form_embarcador.cnpj_embarcador.errors %}
							{{ form_embarcador.cnpj_embarcador(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_embarcador.cnpj_embarcador.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_embarcador.cnpj_embarcador(class="form-control") }}
						{% endif %}
                    </div>
                    
					
                    <div class="form-group">
						{{ form_embarcador.estado_embarcador.label(class="form-control-label") }}
						
						{% if form_embarcador.estado_embarcador.errors %}
							{{ form_embarcador.estado_embarcador(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_embarcador.estado_embarcador.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_embarcador.estado_embarcador(class="form-control") }}
						{% endif %}
                    </div>

                    <div class="form-group">
						{{ form_embarcador.cidade_embarcador.label(class="form-control-label") }}
						
						{% if form_embarcador.cidade_embarcador.errors %}
							{{ form_embarcador.cidade_embarcador(class="form-control is-invalid") }}
						<div class="invalid-feedback">
							{% for erro in form_embarcador.cidade_embarcador.errors %}
								{{ erro }}
							{% endfor%}
						</div>
						{% else %}
							{{ form_embarcador.cidade_embarcador(class="form-control") }}
						{% endif %}
                    </div>
                    

				</fieldset>
					{{ form_embarcador.botao_submit_embarcador(class="btn btn-danger mt-3") }}
				</form>
			</div>
  			
			
		</div>

	</div>

{% endblock %}