{% block body %}

        <div class="row">
            {% for i in range(6) %}
                {% for j in range(6) %}
                    {% set index = j * 6 + i %}
                    {% set stage_num = "%02d"|format(index + 1) %}
                    {% set card_class = 'text-bg-light' %}
                    {% set text_color = '#000000' %}

                    <div class="col-md-2 col-sm-4 col-xs-6 mb-4">
                        <div class="card {{ card_class }}" style="height: 12rem; border: 1px solid black;">
                            <div class="card-header" style="font-size: 2.5rem; color: {{ text_color }};">
                                Stage: {{ stage_num }}
                            </div>
                            {% for item in lista_patio %}
                                {% if item.num_doca == stage_num %}
                                    <div class="card-body p-0">
                                        <h5 class="card-title" style="font-size: 5rem; color: {{ text_color }};">
                                            {{ item.num_frota }} 
                                        </h5>
                                        <p class="card-text" style="font-size: 2.5rem; color: {{ text_color }}; position: absolute; bottom: 0; right: 0;">
                                            {{ item.num_posicao }}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

<script>
    window.onload = function() {
        setTimeout(function() {
            location.reload();
        }, 1000); // Recarrega a página após 1 segundo
    };
</script>

{% endblock %}
