{% extends 'Base.html' %}

{% block body %}
<div class="container-fluid text-center" style="padding: 0;">
    <h1 style="color: black">STAGE-IN</h1>
    <hr>
    <div class="container-fluid" id="content">
        <div class="row">
            {% for i in range(6) %}
                {% for j in range(6) %}
                    {% set index = j * 6 + i %}
                    {% set stage_num = "%02d"|format(index + 1) %}
                    {% set card_class = 'text-bg-light' %}
                    {% set text_color = '#000000' %}
                    
                    <div class="col-md-2 col-sm-4 col-xs-6 mb-2">
                        <div class="card {{ card_class }}" style="height: 11rem; border: 1px solid black; positio: relative;">
                            <div class="card-header" style="font-size: 2.5rem; color: {{ text_color }};">
                                Stage: {{ stage_num }}
                            </div>
                            {% for item in lista_patio %}
                                {% if item.num_doca == stage_num %}
                                   {% if item.status_frota != 'Carregando' %}
                                        {% if item.num_faixa is none or item.num_faixa =='' %}
                                             {% if item.num_posicao is none or item.num_posicao == '' %}
                                                        {% set card_class = 'text-bg-Light' %}
                                                        {% set text_color = '#000000' %} 
                                             {% else %}
                                                        {% set card_class = 'text-bg-dark' %}
                                                        {% set text_color = '#ffffff' %}                                       
                                             {% endif %}
                                        {% else %}
                                            {% set card_class = 'text-bg-success' %}
                                            {% set text_color = '#000000' %}     
                                        {% endif %}
                                   {% else %}
                                       {% set card_class = 'text-bg-warning' %}
                                       {% set text_color = '#000000' %}
                                   {% endif %}
                                    <div class="card {{ card_class }} p-0">
                                        <h5 class="card-title" style="font-size: 4.1rem; color: {{ text_color }};">
                                            {{ item.num_frota }} 
                                        </h5>
                                        <p class="card-text" style="font-size: 2.5rem; color: {{ text_color }}; position: absolute; bottom: 0; right: 0;">
                                            {{ item.num_posicao }}
                                        </p>
                                        <p class="card-text" style="font-size: 2.5rem; color: {{ text_color }}; position: absolute; top: 0; left: 0;">
                                            {{ item.sub_frota }}
                                        </p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
    // Função para atualizar o conteúdo usando AJAX
    function updateContent() {
        fetch('/update_content')
            .then(response => response.text())
            .then(data => {
                document.getElementById('content').innerHTML = data;
            });
    }

    // Atualiza o conteúdo a cada 2 minutos (120.000 milissegundos)
    setInterval(updateContent, 120000);

    //Recarrega a página após 1 segundo
        setTimeout(function() {
            location.reload();
        }, 1000);
</script>
{% endblock %}