{% extends 'Base.html' %}

{% block body%}
    <div style="text-align: center">
    		<h1 style="color: red">Ação na Carga</h1>
	<div>
       <div class="container">
			<div class="row">
				<div class="col">
		    			<form method="POST" action="" class="border m-2 p-2">
                    {{ form_reagenda.hidden_tag() }}        
					{{ form_reagenda.csrf_token}}

					<fieldset>
						<div class="form-group">
							{{ form_reagenda.num_transporte.label(class="form-control-label") }}
                               				{% if form_reagenda.num_transporte.errors %}
							{{ form_reagenda.num_transporte(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.num_transporte.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.num_transporte(class="form-control") }}
							{% endif %}

						</div>						
                        <div class="form-group">
							{{ form_reagenda.entrydate.label(class="form-control-label") }}
                               				{% if form_reagenda.entrydate.errors %}
							{{ form_reagenda.entrydate(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.entrydate.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.entrydate(class="form-control") }}
							{% endif %}

						</div>
						<div class="form-group">
							{{ form_reagenda.entryhour.label(class="form-control-label") }}
                               				{% if form_reagenda.entryhour.errors %}
							{{ form_reagenda.entryhour(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.entryhour.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.entryhour(class="form-control") }}
							{% endif %}

						</div>

						<div class="form-group">
							{{ form_reagenda.origem.label(class="form-control-label") }}
                               				{% if form_reagenda.origem.errors %}
							{{ form_reagenda.origem(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.origem.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.origem(class="form-control") }}
							{% endif %}

						</div>
						<div class="form-group">
							{{ form_reagenda.destino.label(class="form-control-label") }}
                               				{% if form_reagenda.destino.errors %}
							{{ form_reagenda.destino(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.destino.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.destino(class="form-control") }}
							{% endif %}

						</div>

						<div class="form-group">
							{{ form_reagenda.veiculo.label(class="form-control-label") }}
							{% if form_reagenda.veiculo.errors %}
							{{ form_reagenda.veiculo(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.veiculo.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.veiculo(class="form-control") }}
							{% endif %}

						</div>
						<div class="form-group">
							{{ form_reagenda.cliente.label(class="form-control-label") }}
							{% if form_reagenda.cliente.errors %}
							{{ form_reagenda.cliente(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.cliente.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.cliente(class="form-control") }}
							{% endif %}

						</div>

						<div class="form-group">
							{{ form_reagenda.placa_veiculo.label(class="form-control-label") }}
							{% if form_reagenda.placa_veiculo.errors %}
							{{ form_reagenda.placa_veiculo(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.placa_veiculo.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.placa_veiculo(class="form-control") }}
							{% endif %}

						</div>
						<div class="form-group">
							{{ form_reagenda.motorista.label(class="form-control-label") }}
							{% if form_reagenda.motorista.errors %}
							{{ form_reagenda.motorista(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.motorista.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.motorista(class="form-control") }}
							{% endif %}

						</div>
						<div class="form-group">
							{{ form_reagenda.transportadora.label(class="form-control-label") }}
							{% if form_reagenda.transportadora.errors %}
							{{ form_reagenda.transportadora(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.transportadora.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.transportadora(class="form-control") }}
							{% endif %}

						</div>
                        <div class="form-group">
							{{ form_reagenda.motivo_reagenda.label(class="form-control-label") }}
							{% if form_reagenda.motivo_reagenda.errors %}
							{{ form_reagenda.motivo_reagenda(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.motivo_reagenda.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.motivo_reagenda(class="form-control") }}
							{% endif %}

						</div>
                        <div class="form-group">
							{{ form_reagenda.tipo_operacao.label(class="form-control-label") }}
							{% if form_reagenda.tipo_operacao.errors %}
							{{ form_reagenda.tipo_operacao(class="form-control is-invalid") }}
								<div class="invalid-feedback">
									{% for erro in form_reagenda.tipo_operacao.errors %}
										{{ erro }}
									{% endfor%}
								</div>
							{% else %}
								{{ form_reagenda.tipo_operacao(class="form-control") }}
							{% endif %}

						</div>
					</fieldset>
				    {% if botao_clicado == 'Reagendar' %}
                           {{ form_reagenda.botao_submit_reagendar(class="btn btn-danger mt-3") }}
                    {% elif botao_clicado == 'Cancelar' %}
                           {{ form_reagenda.botao_submit_cancelar(class="btn btn-dark mt-3") }}
                    {% elif botao_clicado == 'Alterar' %}
                           {{ form_reagenda.botao_submit_alterar(class="btn btn-warning mt-3") }}
                    {% else %}
                           {{ form_reagenda.botao_submit_reagendar(class="btn btn-danger mt-3") }}
                    {% endif %}
					</form>
				</div>
			
			</div>

		</div> 
		

{% endblock %}