{% extends 'Base.html' %}

{% block head %}
    <meta http-equiv="refresh" content="300">
    {{ super() }}
{% endblock %}


{% block body%}
      <div class="container-fluid mt-1">
            <div class="container-fluid d-flex justify-content-center">
                <iframe title="Controle Agendamento" width="90%" height="825" src="https://app.powerbi.com/reportEmbed?reportId=92953643-4e75-4955-ae1d-53084f6027e7&autoAuth=true&ctid=af5d7ac6-4cdf-4034-a02d-b7ac4a5757f7" frameborder="0" allowFullScreen="true"></iframe>
            </div>
      </div>    
{% endblock %}

