{% extends 'Base.html' %}

{% block head %}
    <meta http-equiv="refresh" content="300">
    {{ super() }}
{% endblock %}


{% block body%}
      <div class="container-fluid mt-1">
            <div class="container-fluid d-flex justify-content-center">
                <iframe title="Controle Agendamento" width="90%" height="825" src="https://app.powerbi.com/groups/me/reports/92953643-4e75-4955-ae1d-53084f6027e7/71cf01d83bd4a0800e8c?experience=power-bi&clientSideAuth=0" frameborder="0" allowFullScreen="true"></iframe>
            </div>
      </div>    
{% endblock %}

