{% extends 'Base.html' %}


{% block body%}
<div class="container-fluid mt-3">
      
        		<h1>Acompanhamento Cargas</h1>
                     
            <div class="container-fluid p-2">        
        	<table class="table table-striped" style="font-size: 11px;">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Transporte</th>  
                      <th scope="col">Data</th>
                      <th scope="col">Agenda</th>
                      <th scope="col">Origem</th>
                      <th scope="col">Destino</th>
                      <th scope="col">Veículo</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Placa</th>
                      <th scope="col">Motorista</th>
                      <th scope="col">Transportadora</th>
                      <th scope="col">Check-In</th>
                      <th scope="col">Entrada</th>
                      <th scope="col">Carregando</th>
                      <th scope="col">Concluído</th>
                      <th scope="col">Saída</th>
                    
                        
                    </tr>
                  </thead>
                  <tbody>
                      
                    {% for agendamentos in lista_cargas %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ agendamentos.num_transporte }}</td>
                        <td>{{ agendamentos.entrydate.strftime('%d/%m/%Y') }}</td>
                        <td>{{ agendamentos.entryhour }}</td>
                        <td>{{ agendamentos.origem }}</td>
                        <td>{{ agendamentos.destino }}</td>
                        <td>{{ agendamentos.veiculo }}</td>
                        <td>{{ agendamentos.cliente }}</td>
                        <td>{{ agendamentos.placa_veiculo }}</td>
                        <td>{{ agendamentos.motorista }}</td>
                        <td>{{ agendamentos.transportadora }}</td>
                        <td>{{ agendamentos.check_in.strftime('%H:%M') if agendamentos.check_in else '' }}</td>
                        <td>{{ agendamentos.entrada_patio.strftime('%H:%M') if agendamentos.entrada_patio else ''  }}</td>
                        <td>{{ agendamentos.carregamento.strftime('%H:%M') if agendamentos.carregamento else ''   }}</td>
                        <td>{{ agendamentos.fim_carregamento.strftime('%H:%M') if agendamentos.fim_carregamento else ''   }}</td>
                        <td>{{ agendamentos.saida_portaria.strftime('%H:%M') if agendamentos.saida_portaria else ''   }}</td>
                        
                    </tr>
                    {% endfor %}
                       
                  </tbody>
            </table>
                
            </div>    
<div>

{% endblock %}